h1 {
	font-family:Tahoma, Geneva, sans-serif;
	color: #F3C; 
	background-color:#66FFFF;
	}
h2 {
	font-family:Tahoma, Geneva, sans-serif;
}
h3 {
	font-family:Tahoma, Geneva, sans-serif;
}
p {
	font-family:Tahoma, Geneva, sans-serif;
}
a{
	font-family:Tahoma, Geneva, sans-serif;
	color: #999;
}