@charset "UTF-8";
/* page.css */

h1 {
	font-family:Arial, Helvetica, sans-serif;
	color: white;
	font-size:80px;
	}
h2{
	padding-left:20px;
	padding-top:20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:25px;
}
h3{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
}
ul {
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
}
table{
	
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
}
p {
	padding:40px;
}
#text {
	background-color:white;
	background-size:contain;
	width:700px;
	padding-left: 80px;
	padding-top:50px;
}
body {
	padding-left:120px;
	background-image:url(../images/pinkback.jpg);
}
