#nav li {
	
	margin:0px;
	padding-top:0px;
	display: inline;
	text-decoration: none;
	padding-left:25px;
	padding-right:90px;
}
h1 {
	border-bottom:5px solid #424242;
	padding-top: 15px;
	padding-left:15px;
	font-family:Arial, Helvetica, sans-serif;
	color: #424242;
	text-shadow: 3px 3px 5px #424242;
	font-size:80px;
	}
#labels li{
	margin:0;
	background:#F3D5E6;
	display: inline;
	text-decoration: none;
	padding-right:110px;
	padding-left:65px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:18px;
	padding-top:0px;
	
}
a {
	padding:0px;
	text-decoration: none;
	color: #424242;
}
.container{
	background: #FFF;
	width: 800px;
	margin: 0 auto;
}
body {
	background-image:url(../images/pinkback.jpg);
}

